<div *ngIf="scoreDisplay?.length">
    <mat-table [dataSource]="scoreDisplay">
        <!-- Frame Position Column -->
        <ng-container matColumnDef="position">
            <mat-header-cell *matHeaderCellDef> {{frameLbl}} </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
        </ng-container>

         <!-- Roll 1 Column -->
         <ng-container matColumnDef="roll1">
            <mat-header-cell *matHeaderCellDef> {{rollLbl + ' ' + 1}} </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.roll1}} </mat-cell>
        </ng-container>

         <!-- Roll 2 Column -->
         <ng-container matColumnDef="roll2">
            <mat-header-cell *matHeaderCellDef> {{rollLbl + ' ' + 2}} </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.roll2}} </mat-cell>
        </ng-container>

         <!-- Roll 3 Column -->
         <ng-container matColumnDef="roll3">
            <mat-header-cell *matHeaderCellDef> {{rollLbl + ' ' + 3}} </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.roll3}} </mat-cell>
        </ng-container>

        <!-- Header and Row Declarations -->
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>