@import '~@angular/material/prebuilt-themes/indigo-pink.css';
/* You can add global styles to this file, and also import other style files */

header {
    margin: 10px;
}
html, body { height: 100%; }
body { 
    margin: 0px;
}

.container{
    margin: 10px;
    padding: 10px;
    background-color: gray;
    div{
        padding: 10px;
        background-color: white;
    }
}

.gameControls{
    padding-right: 10px;
}