<div class="container">
    <div>
        <!-- Current Frame Display -->
        <div>
            <mat-card>
                {{frameLbl + ' ' + currentFramePosition + ': '}}
                <span *ngFor="let display of rollDisplay; index as i"><br>Roll {{i + 1}}: {{display}}</span>
                <span *ngIf="gameOver" [innerHtml]="gameOverMessage"></span>
            </mat-card>
        </div>

        <!-- Player Controls -->
        <div class="gameControls">
            <button mat-raised-button color="accent" *ngIf="gameOver" (click)="newGame()">{{restartLbl}} <fa-icon [icon]="faRedo"></fa-icon></button>
            <button mat-raised-button *ngIf="rollBallEnabled" (click)="rollBall()">{{rollBallLbl}} <fa-icon [icon]="faBowlingBall"></fa-icon></button>
            <button mat-raised-button color="primary" *ngIf="frameComplete && !gameOver" (click)="newFrame()">{{nextFrameLbl}}</button>
        </div>

        <!-- Scoreboard Tally Display -->
        <app-score-board-tally [scoreDisplay]="scoreDisplay"></app-score-board-tally>

    </div>
</div>